@import '../../content/styles/variables.scss';

.root {
    width: 100%;
    height: 24px;
    background: $backgroundColor;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footerText {
    color: $foregroundColor;
    font-family: $main-font;
}
