@import '../../../../content/styles/variables.scss';

$foregroundColor: black;
$cardWidth: 223px;
$cardHeight: 311px;
$textHeight: 50px;

.root {
    display: inline-flex;
    width: $cardWidth;
    height: $cardHeight + $textHeight;
    margin: 10px;
    flex-direction: column;
}

.cardImage {
    width: $cardWidth;
    height: $cardHeight;
}

.cardTitle {
    text-align: center;
    color: $foregroundColor;
    font-size: 16px;
    font-family: $main-font;
    padding-top: 8px;
}
